<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="dbYVS" value="Data Source=gpsprodsql.database.windows.net; Initial Catalog=YoVendoSaldo; User=gats-admin; Password=globalpay*12"/>
		<add key="dbPT" value="Data Source=gpsprodsql.database.windows.net; Initial Catalog=PagaTodo; User=gats-admin; Password=globalpay*12"/>
		<add key="dbYVSReplica" value="Data Source=gpsbksql.database.windows.net; Initial Catalog=YoVendoSaldo; User=gats-admin; Password=globalpay*12"/>
		<!--<add key="dbYVS2" value="Data Source=gpsprodsql.database.windows.net; Initial Catalog=PagaTodo; User=gats-admin; Password=globalpay*12"/>-->
		<!--<add key="dbYVS" value="Data Source=gpstestsql.database.windows.net; Initial Catalog=YoVendoSaldotest; User=gats-admin; Password=gpspro@2015*"/>-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>